apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
  - name: cockroachdb
    newName: cockroachdb/cockroach
    newTag: v23.2.2

resources:
  - certificates.yaml
  - client.yaml
  - service.yaml
  - statefulset.yaml
  - budget.yaml
  - init-job.yaml
  - backup-init-job.yaml
  - scripts.yaml
